/* line 5, ../scss/common.scss */
#content {
  font-size: 16px;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}

/* line 12, ../scss/common.scss */
#header {
  height: 50px;
  width: 940px;
  margin: 0 auto;
  background-color: #FF0;
}

/* line 18, ../scss/common.scss */
#main_content {
  width: 700px;
  height: 1500px;
  background-color: #EEE;
  float: left;
}

/* line 24, ../scss/common.scss */
#nav {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
  overflow: hidden;
}

/* line 30, ../scss/common.scss */
ul {
  padding: 0;
  margin: 0;
  width: 940px;
  background-color: #000;
  margin: 0 auto;
}
/* line 36, ../scss/common.scss */
ul li {
  float: left;
  background-color: #000;
  list-style-type: none;
  width: 160px;
}
/* line 41, ../scss/common.scss */
ul li a {
  color: #FFF;
  width: 100%;
}

/* line 49, ../scss/common.scss */
#sub_content {
  width: 220px;
  float: right;
  background-color: #CCC;
}

/* line 55, ../scss/common.scss */
.banner {
  height: 160px;
  margin-bottom: 20px;
  background-color: #F00;
  width: 220px;
}

/* line 61, ../scss/common.scss */
#banner_group {
  position: relative;
  top: 0;
}

/* line 66, ../scss/common.scss */
#footer {
  height: 300px;
  background-color: #0FF;
}

/*block01*/
/* line 72, ../scss/common.scss */
.block {
  height: 200px;
}

/* line 75, ../scss/common.scss */
.block01 {
  background: liner-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background-size: 10px 10px,100% 100%;
  background-color: #333;
}
