/* line 5, ../scss/common.scss */
#content {
  font-size: 16px;
  width: 940px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
}

/* line 12, ../scss/common.scss */
#header {
  height: 50px;
  width: 940px;
  margin: 0 auto;
  background-color: #FF0;
}

/* line 18, ../scss/common.scss */
#main_content {
  width: 700px;
  height: 1500px;
  float: left;
}

/* line 24, ../scss/common.scss */
#nav {
  background-color: #000;
  border: 1px solid #000;
  color: #FFF;
  overflow: hidden;
}

/* line 30, ../scss/common.scss */
ul {
  padding: 0;
  margin: 0;
  width: 940px;
  background-color: #000;
  margin: 0 auto;
}
/* line 36, ../scss/common.scss */
ul li {
  float: left;
  background-color: #000;
  list-style-type: none;
  width: 160px;
}
/* line 41, ../scss/common.scss */
ul li a {
  color: #FFF;
  width: 100%;
}

/* line 49, ../scss/common.scss */
#sub_content {
  width: 220px;
  float: right;
  background-color: #CCC;
}

/* line 55, ../scss/common.scss */
.banner {
  height: 200px;
  margin-bottom: 20px;
  background-color: #F00;
  width: 220px;
}

/* line 61, ../scss/common.scss */
#banner_group {
  position: relative;
  top: 0;
}

/* line 66, ../scss/common.scss */
#footer {
  height: 300px;
  background-color: #0FF;
}

/*block01*/
/* line 72, ../scss/common.scss */
.block {
  height: 200px;
}

/* line 75, ../scss/common.scss */
.block01 {
  background: liner-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background-size: 10px 10px,100% 100%;
  background-color: #333;
}

/* line 122, ../scss/common.scss */
.std_form .input_line {
  position: relative;
  margin-bottom: 1em;
  overflow: hidden;
}
/* line 127, ../scss/common.scss */
.std_form .tag {
  text-align: right;
  width: 18%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 134, ../scss/common.scss */
.std_form .input_right {
  width: 70%;
  margin-left: 20%;
}
/* line 138, ../scss/common.scss */
.std_form .text {
  display: block;
  width: 100%;
  height: auto;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
/* line 154, ../scss/common.scss */
.std_form .btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid #999;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  -moz-user-select: none;
}
/* line 169, ../scss/common.scss */
.std_form .btn:hover {
  background: #FFF;
}

/* line 174, ../scss/common.scss */
.btn_center {
  text-align: center;
}

/* line 177, ../scss/common.scss */
.search_line {
  background: liner-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background-size: 10px 10px,100% 100%;
  background: #333;
  color: #FFF;
  padding: 5px 15px;
  position: relative;
}
/* line 188, ../scss/common.scss */
.search_line:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  border-top-color: #333;
  top: 100%;
  left: 10px;
}

/* line 199, ../scss/common.scss */
.box {
  background: liner-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 24.5%, transparent 25.5%, transparent 49.5%, rgba(255, 255, 255, 0.1) 50.5%, rgba(255, 255, 255, 0.1) 74.5%, transparent 75.5%);
  background-size: 10px 10px,100% 100%;
  background-color: #CCC;
  padding: 15px;
}
